     body {color:red; margin: 4px; font-family: 'Verdana', serif;}
           h1 {color: blue;}
           .error {color: red;}
     
           h2 {color: #ff0000;}       
           h3 {color: black; font-weight : 600;}       
           
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}